/** {*/
/*margin: 0px;*/
/*padding: 0px;*/
/*}*/

h2 {
    margin-top: 20px;
}

#view {
    width: 160px;
    height: 160px;
    margin: 80px auto 0 auto;

}

#box {

    -webkit-animation-name: animation;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;

    -webkit-transform-style: preserve-3d; /*按照3d的模型来渲染*/
    -webkit-transform-origin: 80px 80px 0;
    /*-webkit-perspective: 210px; /!*视点距离*!/*/

    /*-webkit-perspective-origin: -75px -75px; /!* 用来看3D魔方的角度*!/*/
}

@-webkit-keyframes animation {
    from, to {
    }
    16% {
        -webkit-transform: rotateY(-90deg);
    }
    33% {
        -webkit-transform: rotateY(-90deg) rotateZ(135deg);
    }
    50% {
        -webkit-transform: rotateY(225deg) rotateZ(135deg);
    }
    66% {
        -webkit-transform: rotateY(135deg) rotateX(135deg);
    }
    83% {
        -webkit-transform: rotateX(135deg);
    }
}

#box .div1 {
    -webkit-transform: translateZ(80px);
    position: absolute;
    height: 160px;
    width: 160px;
    border: 3px solid #000;
    text-align: center;
    font-size: 40px;

}

#box .div2 {
    -webkit-transform: rotateX(-90deg) translateZ(80px);

    position: absolute;
    height: 160px;
    width: 160px;
    border: 3px solid #000;
    text-align: center;

    background-color: chocolate;
    font-size: 40px;
}

#box .div3 {
    -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(80px);
    position: absolute;
    height: 160px;
    width: 160px;
    border: 3px solid #000;
    text-align: center;

    background-color: chocolate;
    font-size: 40px;
}

#box .div4 {
    -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(80px);
    position: absolute;
    height: 160px;
    width: 160px;
    border: 3px solid #000;
    text-align: center;

    background-color: chocolate;
    font-size: 40px;
}

#box .div5 {
    -webkit-transform: rotateY(-90deg) rotateZ(180deg) translateZ(80px);
    position: absolute;
    height: 160px;
    width: 160px;
    border: 3px solid #000;
    text-align: center;
    font-size: 40px;
    background-color: chocolate;
}

#box .div6 {
    -webkit-transform: rotateY(90deg) translateZ(80px);
    position: absolute;
    height: 160px;
    width: 160px;
    border: 3px solid #000;
    text-align: center;
    font-size: 40px;
    background-color: chocolate;
}

